curl_cffi==0.13.0
requests==2.32.5
python-dateutil==2.9.0.post0
bs4==0.0.2
pandas==2.3.1
python-dotenv==1.1.0

Django==5.2
django-money==3.5.4
django-extensions==4.1
django-unfold==0.65.0

ptpython==3.0.30
pytz==2025.2

celery~=5.5.1
PyYAML~=6.0.2
tqdm==4.67.1

# dev
black==25.1.0
isort==6.0.1
prospector==1.11.0
bandit==1.8.6
semgrep==1.118.0
