curl_cffi==0.7.3
requests==2.32.3
python-dateutil==2.9.0.post0
bs4==0.0.2
pandas==2.2.3
python-dotenv==1.0.1

Django==5.1.2
django-money==3.5.3
django-extensions==3.2.3
django-unfold==0.40.0

ptpython==3.0.29
pytz==2024.2

celery~=5.4.0
PyYAML~=6.0.2
tqdm==4.66.5

# dev
black==24.10.0
isort==5.13.2
prospector==1.11.0
bandit==1.7.10
semgrep==1.97.0